<ul>
    <li>van der Schaar Lab, Microsoft Research Cambridge and Amsterdam UMC employees can participate but are ineligible for prizes.
    <li>Participants that have access to the AmsterdamUMCdb dataset will be required to declare this and will be ineligible for prizes.
    <li>Any participants that are ineligible for prizes will not contribute to the scores of other teams.
    <li>To be eligible for the final scoring, participants are required to release the code of their submissions as open source.
    <li>If a submission does not run successfully it is the participantsí responsibility to debug it. Participants will be allowed to attempt to submit at most once per day.
    <li>Generation algorithms may only use the public data to define and tune hyper-parameters of their algorithm but may not use the public data to initialise/pre-train a model.
    <li>Each generative algorithm will be required to run within a specific time on a given GPU.
    <li>Each re-identification algorithm will be required to run within a specific time on a given GPU.
</ul>
